@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$theme-colors:(
  "primary": #7988D9,
  "dark": #1A1A2E,
  "light": #F5F6FA
);

$font-family-base: 'Valera', sans-serif;
$headings-font-family: 'Lora', serif;

$font-size-base: 1.5rem; 
$h1-font-size: 3rem;
$h2-font-size: 2.6rem;
$h3-font-size: 2.4rem;
$h4-font-size: 2.2rem;
$h5-font-size: 2rem;
$h6-font-size: 1.8rem;

@import "bootstrap/scss/bootstrap";

.project-link {
  margin-right: 10px;
  text-decoration: none;
}

.list-inline > li {
  font-size: 1.2rem;
}  

p {
  font-size: 1.2rem;
}


.card-box{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
