@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$theme-colors:(
  "primary": rgb(130, 147, 206)
);

@import "bootstrap/scss/bootstrap";

h1,h2,h3,h4,h5,h6{
  font-family: Fraunces;
}

body{
  font-family: Inter;
}

.hover-link:hover {
  font-weight: bold;
}

.project-link {
  color: black !important;
  margin-right: 10px;
  text-decoration: none;
}

.footer {
  margin-top: 100px;
}

.about-me {
  margin-left: auto;
  margin-right: auto;
}

html,
body {
  height: 100%;
  margin: 0;
}

.color-main{
 background-color: rgb(130, 147, 206) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
